<div class="modal-background">
    <div class="modal-card">
        <div class="card-image">
        </div>
        <div class="card-header">
            <h1>@DishName</h1>
        </div>
        <div class="card-body">
            <div class="content-container">
                <div class="content">
                    <h2>Inneh책ll</h2>
                    <ul>
                        @foreach (var ingredient in FoodContent)
                        {
                            <li>@ingredient</li>
                        }
                    </ul>
                </div>
                <div class="content">
                    <h2>Allergener</h2>
                    <ul>
                        @foreach (var allergen in Allergens)
                        {
                            <li>@allergen</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="nutrition-table">
                <table>
                    <tr>
                        <th class="alignleft">N채ringsv채rde</th>
                        <th class="alignright">per 100 gram</th>
                    </tr>
                    @foreach (var nutritionalValue in nutritionalValues)
                    {
                        <tr>
                            <td class="alignleft">@nutritionalValue.Name</td>
                            <td class="alignright">@nutritionalValue.Amount</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="card-button">
            <button class="close-button" onclick="@ModalClose">St채ng ner</button>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string DishName { get; set; }

    [Parameter]
    public List<string> FoodContent { get; set; }

    [Parameter]
    public List<string> Allergens { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalClose()
    {
        return OnClose.InvokeAsync(false);
    }

    public class NutritionalValue
    {
        public string Name { get; set; }
        public string Amount { get; set; }
    }

    List<NutritionalValue> nutritionalValues = new()
    {
        new()
        {
            Name = "energi",
            Amount = "400 kilojoule"
        },
        new()
        {
            Name = "fett",
            Amount = "1,5 gram"
        },
        new()
        {
            Name = "kolhydrater",
            Amount = "30 gram"
        },
        new()
        {
            Name = "energi",
            Amount = "400 kilojoule"
        },
        new()
        {
            Name = "fett",
            Amount = "1,5 gram"
        },
        new()
        {
            Name = "kolhydrater",
            Amount = "30 gram"
        },
        new()
        {
            Name = "energi",
            Amount = "400 kilojoule"
        },
        new()
        {
            Name = "fett",
            Amount = "1,5 gram"
        },
        new()
        {
            Name = "kolhydrater",
            Amount = "30 gram"
        },
        new()
        {
            Name = "energi",
            Amount = "400 kilojoule"
        },
        new()
        {
            Name = "fett",
            Amount = "1,5 gram"
        },
        new()
        {
            Name = "kolhydrater",
            Amount = "30 gram"
        }
    };

}