@using Newtonsoft.Json
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<div class="food-card">
    <div class="food-card-img-container">

    </div>
    <div class="food-card-body">
        <div class="food-card-upper-body">
            <div class="food-card-food-container">
                <p class="food-card-text">@id</p>
                <p class="food-card-text">@DishName</p>
                <p class="food-card-text-extra">@DishDescription</p>
            </div>
            <div class="food-card-price-container">
                <p class="food-card-price">50kr</p>
            </div>
        </div>
        <div class="allergener">
            <li>Stark</li>
            <li>Gluttenfritt</li>
            <li>Mjölkfri</li>
        </div>
        <div class="food-card-btn-container">
            @if (showInput)
            {
                <div class="btn-add-container">
                    <button class="food-card-btn-decrement"
                    @onclick="@((e) => DecrementCount(id, DishName, DishDescription))">-</button>
                    <input type="text" class="text-add-placeholder" count="@count" placeholder="@count st"
                        readonly="readonly" />
                    <button class="food-card-btn-increment"
                    @onclick="@((e) => IncrementCount(id, DishName, DishDescription))">+</button>
                </div>
            }
            else
            {
                <button class="@ButtonClass food-card-btn" type="submit" @onclick="ToggleInput">Välj</button>
            }
        </div>
    </div>
</div>


@code {

    [Parameter]
    public int id { get; set; }

    [Parameter]
    public string DishName { get; set; }
    [Parameter]
    public string DishDescription { get; set; }
    private int count = 0;
    private bool showInput = false;
    private string ButtonClass => count <= 0 ? "food-card-btn food-card-btn-add-amount" : "food-card-btn food-card-btn-add";

    public class DishInformation
    {
        public int Count { get; set; }
        public int ID { get; set; }
        public string dishname { get; set; }
        public string dishdiscription { get; set; }
    }

    private async void ToggleInput()
    {
        DishInformation dishInfo = new DishInformation
            {
                Count = count,
                ID = id,
                dishname = DishName,
                dishdiscription = DishDescription
            };

        string json = JsonConvert.SerializeObject(dishInfo);
        await localStorage.SetItemAsync("LocalDataDishes", json);

        showInput = !showInput;
        if (showInput)
        {
            count = 1;
        }
        else
        {
            count = 0;
        }
    }

    private async void IncrementCount(int ID, string dishname, string dishdiscription)
    {
        count++;
        DishInformation dishInfo = new DishInformation
            {
                Count = count,
                ID = id,
                dishname = DishName,
                dishdiscription = DishDescription
            };

        string json = JsonConvert.SerializeObject(dishInfo);
        await localStorage.SetItemAsync("LocalDataDishes", json);
    }


    private async void DecrementCount(int ID, string dishname, string dishdiscription)
    {
        if (count > 0)
        {
            count--;
            DishInformation dishInfo = new DishInformation
                {
                    Count = count,
                    ID = id,
                    dishname = DishName,
                    dishdiscription = DishDescription
                };

            string json = JsonConvert.SerializeObject(dishInfo);
            await localStorage.SetItemAsync("LocalDataDishes", json);
        }

        if (count == 0)
        {
            showInput = false;
        }
    }


}



