@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using project_foodie.Model;
@using project_foodie.Repository;
@using project_foodie.Modules;

@if (dataLoaded) {
    <div class="overview-container">
        <h1>Översikt över dina val</h1>
        <p>Beställningsdag: 2023-01-23</p>
        <p>Leverans: 2023-02-01</p>

        <table class="overview-table">
            <tr>
                <th>Veckodag</th>
                <th>Lunch</th>
                <th>Lunch pris</th>
                <th>Middag</th>
                <th>Middag pris</th>
                <th>Totalt</th>
                <th></th>
            </tr>
            @foreach (LocalStorage.Row r in data)
            {
                <tr>
                    <td data-label="Veckodag">@convertToWeekday(r.dm.date)</td>
                    <td data-label="Lunch">
                        <ul>
                            @foreach (var item in r.dishCount)
                            {
                                @if (item.dm.type == OrderType.Lunch)
                                {

                                    <li>
                                        @getDishFromDmById(item.dishId, item.dm).Name x @item.Count
                                    </li>
                                }
                            }
                        </ul>
                    </td>
                    <td data-label="Pris">@r.LunchPrice:-</td>
                    <td data-label="Middag">
                        <ul>
                            @foreach (var item in r.dishCount)
                            {
                                @if (item.dm.type == OrderType.Middag)
                                {
                                    <li>
                                        @getDishFromDmById(item.dishId, item.dm).Name x @item.Count
                                    </li>
                                }
                            }
                        </ul>
                    </td>
                    <td data-label="Pris">@r.DinnerPrice:-</td>
                    <td data-label="Totalt">@(r.LunchPrice + r.DinnerPrice):-</td>
                    <td><button class="change-dish-button">Ändra val</button></td>
                </tr>
            }
            <h2 class="total-all-price">Total: @getTotalPrice():- </h2>
        </table>
    </div>
} else {
    <h1>Loading</h1>
}

@code {
    [Parameter]
    public Menu menu { get; set; }

    private List<LocalStorage.Row> data;

    public bool dataLoaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!dataLoaded){
            await LoadData();
            dataLoaded = true;
            StateHasChanged();
        }
    }

    private string getModifyUrl(LocalStorage.Row r)
    {
        // /order/id/page=r.index
        string url = "/order/" + menu.Id + "?page=" + DayMenuHelper.getDayMenuIndex(menu, r.dm);
        return url;
    }

    private int getTotalPrice()
    {
        int Total = 0;
        foreach (LocalStorage.Row r in data)
        {
            Total += r.LunchPrice + r.DinnerPrice;
        }
        return Total;

    }
    private string convertToWeekday(DateTime date)
    {
        string weekday = "";

        weekday = date.ToString("dddddd", new System.Globalization.CultureInfo("sv-SE"));
        weekday = char.ToUpper(weekday[0]) + weekday.Substring(1);

        return weekday;
    }

    private Dish getDishFromDmById(int id, DayMenu dm)
    {
        foreach (Dish d in dm.dishes)
        {
            if (d.Id == id)
                return d;
        }
        return null;
    }
}
