@namespace project_foodie.Pages.Webmaster
@using project_foodie.Model;
@using Newtonsoft.Json;
<div>
    @if (_allMenus != null)
    {
        <table>
            <caption>
               All menus
            </caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last order date</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Num Dishes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var menu in _allMenus.Select((value, i) => new { i, value }))
                {
                    <tr @onclick="() => setMenuId(menu.i)">
                        <th scope="row">@menu.value.Id</th>
                        <td>@menu.value.Name</td>
                        <td>@menu.value.lastOrderDate</td>
                        <td>@menu.value.startDate</td>
                        <td>@menu.value.endDate</td>
                        <td>@menu.value.Dishes.Count</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="2">Total menus</th>
                    <td colspan="2">@_allMenus.Count</td>
                </tr>
            </tfoot>
        </table>
        <div class="dishes" style="display: flex;">
        @if (selectedMenuId >= 0){
            @foreach(Dish dishes in _allMenus[selectedMenuId].Dishes){
                <div style=" border: 1px solid">
                    <h3>@dishes.Name</h3>
                    <p>@dishes.description</p>
                    <p>@dishes.Price</p>
                </div>
            }
        }
    </div>
            }
        </div>
            @code {

    private List<Menu> _allMenus ;
        private int selectedMenuId = -1;
        protected override void OnInitialized()
        {
            this._allMenus = Menu.GetAll();
        }

        void setMenuId(int id){
            selectedMenuId = id;
        }
}